:root {
    --dark-blue: #0B0D39;
    --medium-blue: #306DB6;
    --light-blue: #E2EFFF;

    --grey: #637381;
    --light-grey: #D4D2E3;
    --white-input: #F9F9FF;
    --cream: #EAE1D6;
    --orange: #DF5836;
    --yellow: #F7DD7C;
    --turquesa: #3AC2EF;
    --text-xs: 12px;
    --text-sm: 16px;
    --text-md: 20px;
    --text-lg: 28px;
    --text-xl: 40px;
    --text-2xl: 64px;

}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rowdies';
}
p{
    font-family: 'IBM Plex Mono';
}
.text--xs {
    font-size: var(--text-xs);
}

.text--sm {
    font-size: var(--text-sm);
}

.text--md {
    font-size: var(--text-md);
}

.text--lg {
    font-size: var(--text-lg);
}

.text--xl {
    font-size: var(--text-xl);
}

.text--2xl {
    font-size: var(--text-2xl);
}

.text--bold {
    font-weight: bold;
}

.text--white {
    color: white;
}

.text--grey {
    color: var(--grey);
}

.text--orange {
    color: var(--orange);
}

.a--white {
    color: white;
    transition: color 0.6s ease-in-out;
}

.a--white:hover {
    color: var(--light-blue);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.a--grey {
    color: var(--grey);
    transition: color 0.6s ease-in-out;
}

.a--grey:hover {
    color: var(--medium-blue);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.a--dark-blue {
    color: var(--dark-blue);
    transition: color 0.6s ease-in-out;
}

.a--dark-blue:hover {
    color: var(--medium-blue);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.bg--orange {
    background-color: var(--orange);
}

.bg--mediumBlue {
    background-color: var(--medium-blue);
}

.bg--lightBlue {
    background-color: var(--light-blue);
}

.bg--transparent-input {
    background-color: transparent !important;
}

.bg--cream {
    background-color: var(--cream);
}

.bg--orange {
    background-color: var(--orange);
}

.bg--orange-gradiente {
    background: linear-gradient(180deg, #E7831F 0%, #DF4037 50%, #B82227 100%);
}

.bg--turquesa {
    background-color: var(--turquesa);
}


.bg--yellow {
    background-color: var(--yellow);
}

.btn {
    border-radius: 10px;
    padding: 2% 5%;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    color: inherit; 
}

.btn:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn--rounded {
    border-radius: 50px;
}

.btn--square {
    aspect-ratio: 1/1;
}


.btn--orange {
    background-color: var(--orange) !important;
    color: white !important;
    transition: background-color 0.6s ease-in-out;
    border-radius: 0 !important;
    box-shadow: 
        -0px 4px 4px #fff, /* Borde inferior izquierdo */
         4px 4px 0 #fff; /* Borde inferior derecho */    

}

.btn--orange:hover {
    background-color: var(--yellow) !important;
    color: black !important;
    transition: background-color 0.3s ease-in-out;
}

.grid--2cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid--3cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 12px;
}


.grid--4cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid--5cols {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
}

.grid{
    display: grid;
}

.gap--12{
    gap: 12px !important;
}

.gap--24 {
    gap: 24px !important;
}

.w--50 {
    width: 50%;
    margin: 0 auto;
}

.w--64 {
    width: 64px;
}

.w--128 {
    width: 128px;
}

.w--480 {
    width: 480px;
}

.mw--280 {
    max-width: 280px;
    margin: 0 auto;
}

.mw-400 {
    max-width: 400px;
    margin: 0 auto;
}

.mw--1440 {
    max-width: 1440px;
    margin: 0 auto;
}

.h--64 {
    height: 64px;
}

.h--320 {
    height: 320px;
}

.h--fixed {
    min-height: 800px;
    max-height: 800px;
}
.h--contacto{
    min-height: 600px;
    max-height: 600px;
}
.h--fit {
    height: fit-content;
}

.h--screen {
    height: 100vh;
}

.w--fit {
    width: fit-content;
}

.w--screen {
    width: 100vw;
}

.list--unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.img--logo {
    width: 92px;
    height: 29px;
}

.p--container {
    padding: 120px 60px;
}

.hr--r{
    border-right: 1px solid var(--dark-blue)
}

.btnSlider{
    background-color: #DBDBDB !important; 
    height:80px !important; 
    width: 80px !important; 
    top:40% !important; 
}

.border--light-grey{
    border: solid var(--light-grey);
    border-radius: 10px;
}


.d-lg-flex {
    display: none;
}

@media (min-width: 992px) {
    .d-lg-flex {
        display: flex !important;
    }
}


@media (max-width: 1400px) {
    .grid--5cols {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media (max-width: 990px) {
    .grid--2cols {
        grid-template-columns: 1fr;
    }

    .grid--4cols {
        grid-template-columns: 1fr 1fr;
    }

    .w--50 {
        width: 100%;
    }

    .w--480 {
        width: 100%;
    }

    .p--container {
        padding: 24px;
    }
}

@media (max-width: 767px) {
    .grid--4cols {
        grid-template-columns: 1fr;
    }
    .grid--5cols {
        grid-template-columns: 1fr 1fr;
    }
    .hr--r{
        border-right: none;
    }
    .text--2xl {
        font-size: var(--text-xl);
    }

    .grid--3cols {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 520px) {
    .grid--3cols {
        grid-template-columns: 1fr;
    }
    .grid--5cols {
        grid-template-columns: 1fr;
    }
}