html {
    scroll-behavior: smooth;
}

/* Animaciones */
* {
    animation: appear 0.3s ease-in-out;
}

#mobileMenu,
#mobileMenu *{
    animation: none;
}

#mobileMenu {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

#mobileMenu > * {
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
}

#mobileMenu.notShowed > *{
    transform: scale(0.5);
    transition: transform 0.6s ease-in-out;
}


#mobileMenu.notShowed {
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}